* {
    box-sizing: border-box;
}

body {
    margin: 0;
}

img {
    width: 100%;
}

.grid-clients {
    display: grid;
    grid-template-columns: repeat(4, 1fr);
    grid-template-rows: repeat(4, auto);
    grid-gap: 70px;
    align-items: center;
    justify-content: center;
}

.grid-clients img {
    width: 100%;
    object-fit: cover;
}